lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

#vim backup files
*.html~
*.un~
*.js~
*.swp
*.gitignore~
*.config~
*.swo
*.swn
*.swm
*.tern-project~
.dev~
*.md~
*.hbs~
*.json~

#eslint and npm init file
#tern.js
*.tern-project

